events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    server {
        listen ${PORT};
        server_name _;

        # هدایت تمام درخواست‌های مربوط به ساب‌‌اسکریپشن به پورت 2096
        location /sub/ {
            proxy_pass http://127.0.0.1:2096/sub/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        # هدایت درخواست‌های عمومی و وب‌پنل به پورت 2053
        location / {
            proxy_pass http://127.0.0.1:2053;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        # هدایت اتصال‌های کانفیگ WebSocket (مثل /ws)
        location /ws {
            proxy_pass http://127.0.0.1:2082;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}
